.friends .friends__birth {
    padding: 20px 0px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    margin: 20px 0px;
  }
  
  .friends__birth .friends__title ,
  .friends__list .friends__title{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 12px;
  }
  

  .friends__friend ,.friends__title{
    margin-left: 20px;
  }